@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&family=Montserrat:wght@100;400;500;600;700;800;900&family=Noto+Sans:wght@100;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;400;500;600;700;800&family=Raleway:wght@100;400;500;700;800&family=Roboto+Condensed:wght@300;400;700&family=Rubik:wght@400;500;600;700;800;900&family=Vollkorn:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.BM-contant2{
    display: flex;
   gap: 60px;
    margin-left: 60px;align-items: center;
    justify-content: center;
   
}
.left img{
    height: 886px;
    width: 590px;
    border-radius: 16px;

}
.right {
    width: 630px;
    height: 222px;
    
}
.right h1{
    width: 601px;
    height: 132px;
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
    color:#4B321D;
}
.right button{
    width: 151px;
    height: 50px;
    border-radius: 6px;
 border: 2px solid #4B321D;
font-weight: 400;
font-size: 20px;
margin-top: 40px ;

}


.BM-contant3{
    margin-top: 90px;
    display: flex;
   gap: 60px;
    margin-left: 60px;align-items: center;
    justify-content: center;
   
}
.right1 img{
    height: 886px;
    width: 590px;
    border-radius: 16px;

}
.left1{
    width: 630px;
    height: 222px;
    
}
.left1 h1{
    width: 601px;
    height: 132px;
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
    color:#4B321D;
}
.left1 button{
    width: 151px;
    height: 50px;
    border-radius: 6px;
 border: 2px solid #4B321D;
font-weight: 400;
font-size: 20px;
margin-top: 10px ;

}
