@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&family=Montserrat:wght@100;400;500;600;700;800;900&family=Noto+Sans:wght@100;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;400;500;600;700;800&family=Raleway:wght@100;400;500;700;800&family=Roboto+Condensed:wght@300;400;700&family=Rubik:wght@400;500;600;700;800;900&family=Vollkorn:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
footer{
    display: flex;
    width: 70%;
    margin-left: 200px;
}
.zf-head{
    color: rgb(65, 65, 65);
    font-weight: 400;
    margin-left: 60px;
    margin-top: 99px;
}
.zf-para{
    color: rgb(65, 65, 65);
    margin-left: 60px;
    font-size: 10px;
}
img{
   width: 40px;
   height: 40px;
   margin-left: 60px;
   margin-top: 40px;
}
.zf-firstlist{
    margin-top: 99px;
    margin-left: 350px;
}
.zf-list{
    color: rgb(65, 65, 65);
    margin-left: 60px;
    font-size: 11px;
}
.zf-secondlist{
    margin-top: 99px;
    margin-left: 50px;
}
.zf-thirdlist{
    margin-top: 99px;
    margin-left: 40px;
}